<launch>
     <include file="$(find vrep_ros_teleop)/launch/teleop_mux.launch"/>

    <node pkg="shore_follower2" type="shore_follower_drive.py" name="shore_follower_drive2" output="screen">
      <param name="meta_file" value="$(find shore_follower2)/models/nn/models/best_model.meta" />
      <param name="model_file" value="$(find shore_follower2)/models/nn/models/best_model" />
      <!-- rotation speed corresponding to left or right commands -->
      <param name="twist_factor" value="0.5" />
      <param name="linear_vel" value="0.2" />

      <remap from="/shore_follower_drive2/image" to="/vrep/lineSensor"/>
      <remap from="/shore_follower_drive2/twist" to="/vsv_driver/twistCommand"/>
  </node>
</launch>
