<launch>

  <node pkg="floor_plane_ceres" type="floor_plane_ceres" name="floor_plane_ceres" output="screen">
      launch-prefix="xterm -e gdb --args"
      <param name="base_frame" value="/bubbleRob" />
      <param name="max_range" value="3.0" />

      <remap from="/floor_plane_ceres/scans" to="/depth_registered/points"/>
  </node>
</launch>
